//-----------------------------------------------------------------
// Game Skeleton Resources
// RC Source - AIchallenge.rc - versie 2010 v2_07
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BIG       ICON         "big.ico"
IDI_SMALL     ICON         "small.ico"
